@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Cookie&family=EB+Garamond:ital,wght@0,500;1,500&family=Lobster+Two:ital@1&family=Lora:ital@1&family=Merriweather:wght@700&family=Poppins:wght@600&family=Raleway:wght@500&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.gradient-bg {
  background-image: linear-gradient(90deg, #2937f0, #9f1ae2);
}

.banner {
  height: 100%;
}
.background-img {
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}
